bin
obj
App_Data
*.suo
*.user
*.vs
*.DotSettings
*.keystore
*.p12
*.gitconfig
*.apk
msbuild.log
*.userprefs
*.db
*.map
*.icl
*.mdb
*.msi
*.exe
*.xlsx
*.xls
*.dm
*.bak
*.dll
*.pdb
*Resource.Designer.cs
*project.lock.json
*packages_old.config
src/.vscode
*.targets
*.props
**/.vs
*TestResult.xml
*nuget.cache
/src/build
/src/buildartifacts
/src/TestData
/src/publish
/src/.idea/

# UWP publish
BundleArtifacts